AddDefaultCharset utf-8

php_value error_reporting -1

php_value display_errors on

RewriteEngine On

RewriteBase /route/

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [L,QSA]

php_value session.name session_id
